[core]
	autocrlf = input
	editor = nvim
	excludesfile = ~/.gitglobalignore
[user]
	name = Colby Haskell
	email = chaskell35@gmail.com 
[color]
	ui = auto
[push]
	default = simple
	autoSetupRemote = true
	default = current
[init]
	defaultBranch = main
